.profile-pic {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.location {
    margin-top: -14px;
}
.more-action {
    width: 40px;
    height: 40px;
}
.post-pic {
    height: 300px;
    width: 400px;
}